/.classpath
/.cpcache/
/.eastwood
/.idea/
/.java-version
/.lein-*
/.nrepl-port
/.project
/.settings
/checkouts
/classes
/project.clj
/target
/zero
/zero.iml
/boot-project.iml
/changelog.xml
/changesets

# Ignore Vscode's local UUID cache directory.
/[a-f0-9]*-[a-f0-9]*-[a-f0-9]*-[a-f0-9]*-[a-f0-9]*/
/.vscode/

# UI
.DS_Store
node_modules/
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
