<?xml version="1.0" encoding="UTF-8"?>
<!--
This file configures Log4j 2.
Its syntax is given by https://logging.apache.org/log4j/2.x/manual/configuration.html

The file currently represents the defaults for Log4j 2, it just makes them explicit.
-->
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
