{:output_vcf_index                              "output_vcf_index",
 :gtc                                           "gtc",
 :arrays_variant_calling_detail_metrics         "arrays_variant_calling_detail_metrics",
 :green_idat_md5_cloud_path                     "green_idat_md5_cloud_path",
 :output_fingerprint_vcf_index                  "output_fingerprint_vcf_index",
 :contamination_metrics                         "contamination_metrics",
 :output_fingerprint_vcf                        "output_fingerprint_vcf",
 :red_idat_md5_cloud_path                       "red_idat_md5_cloud_path",
 :genotype_concordance_failed                   "genotype_concordance_failed",
 :output_vcf                                    "output_vcf",
 :genotype_concordance_summary_metrics          "genotype_concordance_summary_metrics",
 :arrays_variant_calling_control_metrics        "arrays_variant_calling_control_metrics",
 :genotype_concordance_detail_metrics           "genotype_concordance_detail_metrics",
 :output_vcf_md5_cloud_path                     "output_vcf_md5_cloud_path",
 :arrays_variant_calling_summary_metrics        "arrays_variant_calling_summary_metrics",
 :genotype_concordance_contingency_metrics      "genotype_concordance_contingency_metrics"}
