<?xml version="1.0" encoding="UTF-8"?>
<!--
This file configures Log4j 2.
Its syntax is given by https://logging.apache.org/log4j/2.x/manual/configuration.html
-->
<Configuration status="WARN">
    <Properties>
        <Property name="pattern">%d{hh:mm:ss} %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.aether" level="ERROR"/>
        <Logger name="org.eclipse.jetty" level="ERROR"/>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Root>
    </Loggers>
</Configuration>
