<?xml version="1.0" encoding="UTF-8"?>
<!--
This file configures Log4j 2.
Its syntax is given by https://logging.apache.org/log4j/2.x/manual/configuration.html
-->
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:JsonEventLayout.json"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.aether" level="ERROR"/>
        <Logger name="org.eclipse.jetty" level="ERROR"/>
        <Root level="DEBUG">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
