{:valid                   true,
 :isRunnableWorkflow      true,
 :errors                  [],
 :meta                    {:description "Full SARS-CoV-2 analysis workflow starting from raw Illumina flowcell (tar.gz) and metadata and performing assembly, spike-in analysis, qc, lineage assignment, and packaging for data release.",
                           :author      "Broad Viral Genomics",
                           :email       "viral-ngs@broadinstitute.org"},
 :images                  [],
 :name                    "sarscov2_illumina_full",
 :importedDescriptorTypes [],
 :validWorkflow           true,
 :submittedDescriptorType {:descriptorType "WDL", :descriptorTypeVersion "1.0"},
 :parameterMeta           {:samplesheets         {:description "Custom formatted 'extended' format tsv samplesheets that will override any SampleSheet.csv in the illumina BCL directory. Must supply one file per lane of the flowcell, and must provide them in lane order. Required tsv column headings are: sample, library_id_per_sample, barcode_1, barcode_2 (if paired reads, omit if single-end), library_strategy, library_source, library_selection, design_description. 'sample' must correspond to a biological sample. 'sample' x 'library_id_per_sample' must be unique within a samplesheet and correspond to independent libraries from the same original sample. barcode_1 and barcode_2 must correspond to the actual index sequence. Remaining columns must follow strict ontology: see 3rd tab of https://www.ncbi.nlm.nih.gov/core/assets/sra/files/SRA_metadata_acc_example.xlsx for controlled vocabulary and term definitions.",
                                                  :patterns    ["*.txt" "*.tsv"]},
                           :reference_fasta      {:description "Reference genome to align reads to.",
                                                  :patterns    ["*.fasta"]},
                           :amplicon_bed_prefix  {:description "amplicon primers to trim in reference coordinate space (0-based BED format)",
                                                  :patterns    ["*.bed"]},
                           :biosample_attributes {:description "A post-submission attributes file from NCBI BioSample, which is available at https://submit.ncbi.nlm.nih.gov/subs/ and clicking on 'Download attributes file with BioSample accessions'. The 'sample_name' column must match the external_ids used in sample_rename_map (or internal ids if sample_rename_map is omitted).",
                                                  :patterns    ["*.txt" "*.tsv"]}},
 :inputs                  [{:name            "amplicon_bed_prefix",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        false,
                            :default         nil}
                           {:name            "assemble_refbased.novocraft_license",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "biosample_attributes",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]",
                            :optional        false,
                            :default         nil}
                           {:name            "biosample_to_genbank.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"quay.io/broadinstitute/viral-phylo:2.1.19.1\""}
                           {:name            "biosample_to_genbank.s_dropout_note",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "true"}
                           {:name            "data_tables.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"schaluvadi/pathogen-genomic-surveillance:api-wdl\""}
                           {:name            "data_tables.machine_mem_gb",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Int"}},
                            :typeDisplayName "Int?",
                            :optional        true,
                            :default         nil}
                           {:name            "demux_deplete.blastDbs",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName  "Array",
                                                             :arrayType {:typeName "File"},
                                                             :nonEmpty  false}},
                            :typeDisplayName "Array[File]?",
                            :optional        true,
                            :default         nil}
                           {:name            "demux_deplete.bmtaggerDbs",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName  "Array",
                                                             :arrayType {:typeName "File"},
                                                             :nonEmpty  false}},
                            :typeDisplayName "Array[File]?",
                            :optional        true,
                            :default         nil}
                           {:name            "demux_deplete.bwaDbs",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName  "Array",
                                                             :arrayType {:typeName "File"},
                                                             :nonEmpty  false}},
                            :typeDisplayName "Array[File]?",
                            :optional        true,
                            :default         nil}
                           {:name            "demux_deplete.default_filename_keys",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "String"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[String]",
                            :optional        true,
                            :default         "[\"spike_in\"]"}
                           {:name            "demux_deplete.default_sample_keys",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "String"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[String]",
                            :optional        true,
                            :default         "[\"amplicon_set\", \"control\"]"}
                           {:name            "demux_deplete.min_reads_per_bam",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int",
                            :optional        true,
                            :default         "100"}
                           {:name            "demux_deplete.sample_rename_map",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "demux_deplete.samplesheets",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  true},
                            :typeDisplayName "Array[File]+",
                            :optional        false,
                            :default         nil}
                           {:name            "demux_deplete.spikein_db",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "flowcell_tgz",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "gisaid_meta_prep.authors",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "gisaid_meta_prep.continent",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"North America\""}
                           {:name            "gisaid_meta_prep.originating_lab_addr",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "gisaid_meta_prep.strict",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "true"}
                           {:name            "gisaid_meta_prep.submitting_lab_addr",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "gisaid_meta_prep.submitting_lab_name",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "gisaid_meta_prep.username",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "instrument_model",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        false,
                            :default         nil}
                           {:name            "max_vadr_alerts",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int",
                            :optional        true,
                            :default         "0"}
                           {:name            "min_genome_bases",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int",
                            :optional        true,
                            :default         "15000"}
                           {:name            "ntc_max.default_empty",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int",
                            :optional        true,
                            :default         "0"}
                           {:name            "package_genbank_ftp_submission.account_name",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        false,
                            :default         nil}
                           {:name            "package_genbank_ftp_submission.author_template_sbt",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "package_genbank_ftp_submission.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"quay.io/broadinstitute/viral-baseimage:0.1.20\""}
                           {:name            "package_genbank_ftp_submission.spuid_namespace",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        false,
                            :default         nil}
                           {:name            "reference_fasta",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "rename_fasta_header.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"quay.io/broadinstitute/viral-core:2.1.19\""}
                           {:name            "rename_fasta_header.out_basename",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "sra_title",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        false,
                            :default         nil}
                           {:name            "structured_comments.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"quay.io/broadinstitute/viral-core:2.1.19\""}
                           {:name            "submit_genomes.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20210127T135203Z\""}
                           {:name            "terra_project",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "vadr.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"staphb/vadr:1.1.3\""}
                           {:name            "vadr.vadr_opts",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"-s -r --nomisc --mkey NC_045512 --lowsim5term 2 --lowsim3term 2 --fstlowthr 0.0 --alt_fail lowscore,fsthicnf,fstlocnf\""}
                           {:name            "workspace_name",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}],
 :outputs                 [{:name            "assembled_ids",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "String"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[String]"}
                           {:name            "assemblies_fasta",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "assembly_stats_tsv",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "cleaned_bam_uris",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "cleaned_bams_tiny",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "cleaned_reads_unaligned_bams",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "data_table_status",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName "String"}},
                            :typeDisplayName "String?"}
                           {:name            "demux_commonBarcodes",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "demux_metrics",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "demux_outlierBarcodes",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "failed_annotation_ids",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "String"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[String]"}
                           {:name            "failed_assembly_ids",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "String"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[String]"}
                           {:name            "genbank_fasta",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "genbank_source_table",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "gisaid_fasta",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "gisaid_meta_tsv",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "max_ntc_bases",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int"}
                           {:name            "meta_by_filename_json",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "multiqc_report_cleaned",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "multiqc_report_raw",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "nextmeta_tsv",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "num_assembled",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int"}
                           {:name            "num_failed_annotation",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int"}
                           {:name            "num_failed_assembly",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int"}
                           {:name            "num_read_files",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int"}
                           {:name            "num_samples",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int"}
                           {:name            "num_submittable",
                            :valueType       {:typeName "Int"},
                            :typeDisplayName "Int"}
                           {:name            "passing_assemblies_fasta",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "raw_reads_unaligned_bams",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "read_counts_depleted",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "Int"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[Int]"}
                           {:name            "read_counts_raw",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "Int"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[Int]"}
                           {:name            "spikein_counts",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "sra_metadata",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "submission_xml",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "submission_zip",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "submit_ready",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "submittable_assemblies_fasta",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}
                           {:name            "submittable_ids",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "String"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[String]"}
                           {:name            "vadr_outputs",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]"}]}
