{:valid                   true,
 :isRunnableWorkflow      true,
 :errors                  [],
 :meta                    {:description "Align assemblies, build trees, and convert to json representation suitable for Nextstrain visualization. See https://nextstrain.org/docs/getting-started/ and https://nextstrain-augur.readthedocs.io/en/stable/",
                           :author      "Broad Viral Genomics",
                           :email       "viral-ngs@broadinstitute.org"},
 :images                  [],
 :name                    "augur_from_assemblies",
 :importedDescriptorTypes [],
 :validWorkflow           true,
 :submittedDescriptorType {:descriptorType "WDL", :descriptorTypeVersion "1.0"},
 :parameterMeta           {:ref_fasta                 {:description "A reference assembly (not included in assembly_fastas) to align assembly_fastas against. Typically from NCBI RefSeq or similar.",
                                                       :patterns    ["*.fasta" "*.fa"]},
                           :virus                     {:description "A filename-friendly string that is used as a base for output file names."},
                           :assembly_fastas           {:description "Set of assembled genomes to align and build trees. These must represent a single chromosome/segment of a genome only. Fastas may be one-sequence-per-individual or a concatenated multi-fasta (unaligned) or a mixture of the two. Fasta header records need to be pipe-delimited (|) for each metadata value.",
                                                       :patterns    ["*.fasta" "*.fa"]},
                           :ancestral_traits_to_infer {:description "A list of metadata traits to use for ancestral node inference (see https://nextstrain-augur.readthedocs.io/en/stable/usage/cli/traits.html). Multiple traits may be specified; must correspond exactly to column headers in metadata file. Omitting these values will skip ancestral trait inference, and ancestral nodes will not have estimated values for metadata."},
                           :sample_metadata           {:description "Metadata in tab-separated text format. See https://nextstrain-augur.readthedocs.io/en/stable/faq/metadata.html for details.",
                                                       :patterns    ["*.txt" "*.tsv"]},
                           :genbank_gb                {:description "A 'genbank' formatted gene annotation file that is used to calculate coding consequences of observed mutations. Must correspond to the same coordinate space as ref_fasta. Typically downloaded from the same NCBI accession number as ref_fasta.",
                                                       :patterns    ["*.gb" "*.gbf"]},
                           :clades_tsv                {:description "A TSV file containing clade mutation positions in four columns: [clade  gene    site    alt]; see: https://nextstrain.org/docs/tutorials/defining-clades",
                                                       :patterns    ["*.tsv" "*.txt"]}},
 :inputs                  [{:name            "ancestral_traits.confidence",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "true"}
                           {:name            "ancestral_traits.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "ancestral_traits.sampling_bias_correction",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Float"}},
                            :typeDisplayName "Float?",
                            :optional        true,
                            :default         nil}
                           {:name            "ancestral_traits.weights",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "ancestral_traits_to_infer",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName  "Array",
                                                             :arrayType {:typeName "String"},
                                                             :nonEmpty  false}},
                            :typeDisplayName "Array[String]?",
                            :optional        true,
                            :default         nil}
                           {:name            "ancestral_tree.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "ancestral_tree.infer_ambiguous",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "false"}
                           {:name            "ancestral_tree.inference",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"joint\""}
                           {:name            "ancestral_tree.keep_ambiguous",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "false"}
                           {:name            "ancestral_tree.keep_overhangs",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "false"}
                           {:name            "ancestral_tree.output_vcf",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "ancestral_tree.vcf_reference",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "assembly_fastas",
                            :valueType       {:typeName  "Array",
                                              :arrayType {:typeName "File"},
                                              :nonEmpty  false},
                            :typeDisplayName "Array[File]",
                            :optional        false,
                            :default         nil}
                           {:name            "assign_clades_to_nodes.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "augur_mask_sites.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "augur_mask_sites.mask_bed",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "clades_tsv",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "draft_augur_tree.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "draft_augur_tree.exclude_sites",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "draft_augur_tree.method",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"iqtree\""}
                           {:name            "draft_augur_tree.substitution_model",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"GTR\""}
                           {:name            "draft_augur_tree.tree_builder_args",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "draft_augur_tree.vcf_reference",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "export_auspice_json.auspice_config",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "export_auspice_json.color_by_metadata",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName  "Array",
                                                             :arrayType {:typeName "String"},
                                                             :nonEmpty  false}},
                            :typeDisplayName "Array[String]?",
                            :optional        true,
                            :default         nil}
                           {:name            "export_auspice_json.colors_tsv",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "export_auspice_json.description_md",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "export_auspice_json.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "export_auspice_json.geo_resolutions",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName  "Array",
                                                             :arrayType {:typeName "String"},
                                                             :nonEmpty  false}},
                            :typeDisplayName "Array[String]?",
                            :optional        true,
                            :default         nil}
                           {:name            "export_auspice_json.lat_longs_tsv",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "export_auspice_json.maintainers",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName  "Array",
                                                             :arrayType {:typeName "String"},
                                                             :nonEmpty  false}},
                            :typeDisplayName "Array[String]?",
                            :optional        true,
                            :default         nil}
                           {:name            "export_auspice_json.title",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "filter_subsample_sequences.exclude",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.exclude_where",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.group_by",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.include",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.include_where",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.max_date",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Float"}},
                            :typeDisplayName "Float?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.min_date",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Float"}},
                            :typeDisplayName "Float?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.min_length",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Int"}},
                            :typeDisplayName "Int?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.non_nucleotide",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "true"}
                           {:name            "filter_subsample_sequences.priority",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.sequences_per_group",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Int"}},
                            :typeDisplayName "Int?",
                            :optional        true,
                            :default         nil}
                           {:name            "filter_subsample_sequences.subsample_seed",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Int"}},
                            :typeDisplayName "Int?",
                            :optional        true,
                            :default         nil}
                           {:name            "genbank_gb",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "mafft.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"quay.io/broadinstitute/viral-phylo:2.1.4.0\""}
                           {:name            "mafft.keep_length",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "true"}
                           {:name            "mafft.remove_reference",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "false"}
                           {:name            "ref_fasta",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "refine_augur_tree.branch_length_inference",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.clock_filter_iqd",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Int"}},
                            :typeDisplayName "Int?",
                            :optional        true,
                            :default         "4"}
                           {:name            "refine_augur_tree.clock_rate",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Float"}},
                            :typeDisplayName "Float?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.clock_std_dev",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Float"}},
                            :typeDisplayName "Float?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.coalescent",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.covariance",
                            :valueType       {:typeName     "Optional",
                                              :optionalType {:typeName "Boolean"}},
                            :typeDisplayName "Boolean?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.date_confidence",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "true"}
                           {:name            "refine_augur_tree.date_inference",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         "\"marginal\""}
                           {:name            "refine_augur_tree.divergence_units",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "refine_augur_tree.gen_per_year",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Int"}},
                            :typeDisplayName "Int?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.keep_polytomies",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "false"}
                           {:name            "refine_augur_tree.keep_root",
                            :valueType       {:typeName "Boolean"},
                            :typeDisplayName "Boolean",
                            :optional        true,
                            :default         "false"}
                           {:name            "refine_augur_tree.precision",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "Int"}},
                            :typeDisplayName "Int?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.root",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "String"}},
                            :typeDisplayName "String?",
                            :optional        true,
                            :default         nil}
                           {:name            "refine_augur_tree.vcf_reference",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "sample_metadata",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File",
                            :optional        false,
                            :default         nil}
                           {:name            "snp_sites.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"quay.io/biocontainers/snp-sites:2.5.1--hed695b0_0\""}
                           {:name            "translate_augur_tree.docker",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        true,
                            :default         "\"nextstrain/base:build-20200629T201240Z\""}
                           {:name            "translate_augur_tree.genes",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "translate_augur_tree.vcf_reference",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "translate_augur_tree.vcf_reference_output",
                            :valueType       {:typeName "Optional", :optionalType {:typeName "File"}},
                            :typeDisplayName "File?",
                            :optional        true,
                            :default         nil}
                           {:name            "virus",
                            :valueType       {:typeName "String"},
                            :typeDisplayName "String",
                            :optional        false,
                            :default         nil}],
 :outputs                 [{:name            "auspice_input_json",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "combined_assemblies",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "masked_alignment",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "ml_tree",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "multiple_alignment",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "time_tree",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}
                           {:name            "unmasked_snps",
                            :valueType       {:typeName "File"},
                            :typeDisplayName "File"}]}
