{:submission_xml               "submission_xml",
 :assembled_ids                "assembled_ids",
 :num_failed_assembly          "num_failed_assembly",
 :ivar_trim_stats_png          "ivar_trim_stats_png",
 :read_counts_raw              "read_counts_raw",
 :num_samples                  "num_samples",
 :vadr_outputs                 "vadr_outputs",
 :cleaned_reads_unaligned_bams "cleaned_reads_unaligned_bams",
 :demux_commonBarcodes         "demux_commonBarcodes",
 :submission_zip               "submission_zip",
 :cleaned_bams_tiny            "cleaned_bams_tiny",
 :data_tables_out              "data_tables_out",
 :ntc_rejected_batches         "ntc_rejected_batches",
 :picard_metrics_alignment     "picard_metrics_alignment",
 :failed_assembly_ids          "failed_assembly_ids",
 :ivar_trim_stats_html         "ivar_trim_stats_html",
 :assembly_stats_tsv           "assembly_stats_tsv",
 :failed_annotation_ids        "failed_annotation_ids",
 :run_date                     "run_date",
 :genbank_source_table         "genbank_source_table",
 :num_read_files               "num_read_files",
 :ntc_rejected_lanes           "ntc_rejected_lanes",
 :gisaid_meta_csv              "gisaid_meta_csv",
 :primer_trimmed_read_count    "primer_trimmed_read_count",
 :gisaid_fasta                 "gisaid_fasta",
 :num_submittable              "num_submittable",
 :submit_ready                 "submit_ready",
 :passing_fasta                "passing_fasta",
 :nextclade_auspice_json       "nextclade_auspice_json",
 :read_counts_depleted         "read_counts_depleted",
 :cleaned_bam_uris             "cleaned_bam_uris",
 :num_assembled                "num_assembled",
 :max_ntc_bases                "max_ntc_bases",
 :genbank_fasta                "genbank_fasta",
 :multiqc_report_cleaned       "multiqc_report_cleaned",
 :num_failed_annotation        "num_failed_annotation",
 :meta_by_filename_json        "meta_by_filename_json",
 :primer_trimmed_read_percent  "primer_trimmed_read_percent",
 :assembly_stats_final_tsv     "assembly_stats_final_tsv",
 :demux_metrics                "demux_metrics",
 :submittable_ids              "submittable_ids",
 :sra_metadata                 "sra_metadata",
 :spikein_counts               "spikein_counts",
 :raw_reads_unaligned_bams     "raw_reads_unaligned_bams",
 :ivar_trim_stats_tsv          "ivar_trim_stats_tsv",
 :picard_metrics_wgs           "picard_metrics_wgs",
 :nextclade_all_json           "nextclade_all_json",
 :multiqc_report_raw           "multiqc_report_raw",
 :sequencing_reports           "sequencing_reports",
 :demux_outlierBarcodes        "demux_outlierBarcodes",
 :nextmeta_tsv                 "nextmeta_tsv",
 :assemblies_fasta             "assemblies_fasta"}
